@model IEnumerable<Capa_entidades.usuarios>

@{
    ViewBag.Title = "contacto";
}

<h2>contacto</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pagina_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instagram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pagina_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instagram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
      
    </tr>
}

</table>
