@model Capa_entidades.proyectos

@{
    ViewBag.Title = "Agregarproyecto";
}

@*<h2>Agregarproyecto</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-top: 50px;" class="d-flex flex-column align-items-center">
        <div style="width: 400px;" class="d-flex flex-column align-items-center shadow-lg p-3 mb-5 bg-body rounded">
            <h4>NUEVO proyecto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.NOMBRE_PROYECTO, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NOMBRE_PROYECTO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_PROYECTO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.modelo_negocio, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.modelo_negocio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.modelo_negocio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.modelo_negocio, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.modelo_negocio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.modelo_negocio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.invercion_necesaria, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.invercion_necesaria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.invercion_necesaria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.porcentaje_ofertado, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.porcentaje_ofertado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.porcentaje_ofertado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.id_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.id_usuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                    <select style="width: 180px;" class="form-control" id="Estado" name="Estado">
                        <option value="1">Habilitado</option>
                        <option value="2">Deshabilitado</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.link_video, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.link_video, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.link_video, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <input style="width: 180px; margin: 5px;" type="submit" value="AGREGAR" class="btn btn-primary" />
            </div>
            <div>
                <span style="width: 207px;">@Html.ActionLink("REGRESAR", "DashBoard", "Home", new { @class = "btn btn-secondary" })</span>
            </div>
        </div>

    </div>
}