@model Capa_entidades.vacantes_empresas

@{
    ViewBag.Title = "Agregarusuarios";
}

@*<h2>Agregarproyecto</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin-top: 50px;" class="d-flex flex-column align-items-center">
        <div style="width: 400px;" class="d-flex flex-column align-items-center shadow-lg p-3 mb-5 bg-body rounded">
            <h4>NUEVO vacantes</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.vacante, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.vacante, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vacante, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.descrpicion, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.descrpicion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descrpicion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.puesto, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.puesto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.puesto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.horario, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.horario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.horario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.salario, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.salario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.salario, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.ID_EMPRESA, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ID_EMPRESA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_EMPRESA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div style="margin: 5px;" class="">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                    <select style="width: 180px;" class="form-control" id="Estado" name="Estado">
                        <option value="1">Habilitado</option>
                        <option value="2">Deshabilitado</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group d-flex flex-column align-items-center">
                <input style="width: 180px; margin: 5px;" type="submit" value="AGREGAR" class="btn btn-primary" />
            </div>
            <div>
                <span style="width: 207px;">@Html.ActionLink("REGRESAR", "DashBoard", "Home", new { @class = "btn btn-secondary" })</span>
            </div>
        </div>

    </div>
}



